/* Tailwind Preflight with manual reset */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; /* Disable tap highlight globally */

}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root, main {
  width: 100%;
  height: 100%;

}

::-webkit-scrollbar{
  width:0px;
}
::-webkit-scrollbar-thumb{
  background:rgb(255, 255, 255) ;
}

::-webkit-scrollbar-thumb:hover {
  background: #fffefe;
}

/* Remove blue highlight on clickable elements in mobile */
a, button, input, textarea, select {
  -webkit-tap-highlight-color: transparent; /* Disable tap highlight on mobile */
  outline: none; /* Remove focus outline */
}